#agenda .semana {
  border-bottom: 1px solid #d4d4ce;
}

#agenda .semana:first-child {
  border-top: 1px solid #d4d4ce;
}

#agenda .semana .dia {
  display: inline-block;
  height: 80px;
  border-right: 1px solid #d4d4ce;
}

#agenda .semana .dia:after {
  content: attr(data-dia);
}

#agenda .semana .dia.mutado:after {
  color: #cccccc;
}

#agenda .semana .dia:first-child {
  border-left: 1px solid #d4d4ce;
}

