@charset "UTF-8";

@import "variaveis";
@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@include google-font("Montserrat");

body, #body{
    min-height: 100vh;
}
#body{
    display: flex;
    flex-direction: column;
}

.box-shadow{
    box-shadow: 0 0 15px #b7b7b7;
}

.reticencias{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cursor-pointer{
    cursor: pointer;
}

// Content
#content{
    flex-grow: 1;
}
